* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  max-width: 340px;
  width: 100%;
  background-color: #eeeeeecc;
  border-radius: 20px;
  padding: 15px;
}
.profile-img {
  display: block;
  max-width: 150px;
  width: 100%;
  border-radius: 50%;
  margin: auto;
}
ul li {
  list-style: none;
}
h1 {
  text-align: center;
}
h1 span {
  display: block;
  color: rgb(156, 5, 156);
}
header ul {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #eeeeeecc;
  margin-top: 20px;
  border-radius: 20px;
}
header ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
main {
  margin-block: 30px;
}
h2 {
  margin-block: 20px;
  text-decoration: underline;
}
#code p {
  padding: 10px;
  background: #a9a9a969;
  color: rgba(0, 173, 0, 0.632);
}
#projects ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#education ul li {
  font-weight: 700;
}
#education ul li span {
  font-weight: 400;
}
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
